[submodule "event_manager"]
	path = event_manager
	url = git@github.com:nullbr/event_manager.git
[submodule "hangman"]
	path = hangman
	url = git@github.com:nullbr/hangman.git
[submodule "mastermind"]
	path = mastermind
	url = git@github.com:nullbr/mastermind.git
[submodule "tic-tac-toe"]
	path = tic-tac-toe
	url = git@github.com:nullbr/tic-tac-toe.git
[submodule "merge_sort"]
	path = merge_sort
	url = git@github.com:nullbr/merge_sort.git
[submodule "linked_lists"]
	path = linked_lists
	url = git@github.com:nullbr/linked_lists.git
[submodule "binary_search_tree"]
	path = binary_search_tree
	url = git@github.com:nullbr/binary_search_tree.git
[submodule "knights-travails"]
	path = knights-travails
	url = git@github.com:nullbr/knights-travails.git
[submodule "git_playground"]
	path = git_playground
	url = git@github.com:nullbr/git_playground.git
[submodule "contribute-theodinproject"]
	path = contribute-theodinproject
	url = git@github.com:nullbr/contribute-theodinproject.git
[submodule "caesars_cipher"]
	path = caesars_cipher
	url = git@github.com:nullbr/caesars_cipher.git
[submodule "connect_four"]
	path = connect_four
	url = git@github.com:nullbr/connect_four.git
