[submodule "event_manager"]
	path = event_manager
	url = git@github.com:nullbr/event_manager.git
[submodule "hangman"]
	path = hangman
	url = git@github.com:nullbr/hangman.git
[submodule "mastermind"]
	path = mastermind
	url = git@github.com:nullbr/mastermind.git
[submodule "tic-tac-toe"]
	path = tic-tac-toe
	url = git@github.com:nullbr/tic-tac-toe.git
[submodule "merge_sort"]
	path = merge_sort
	url = git@github.com:nullbr/merge_sort.git
[submodule "linked_lists"]
	path = linked_lists
	url = git@github.com:nullbr/linked_lists.git
[submodule "binary_search_tree"]
	path = binary_search_tree
	url = git@github.com:nullbr/binary_search_tree.git
[submodule "knights-travails"]
	path = knights-travails
	url = git@github.com:nullbr/knights-travails.git
